body {
  background-color: #222;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ------------------------------- HEADER -------------------------------*/
.header {
  background-color: gray;
  padding: 20px;
  margin: 10px;
  border-radius: 1rem;
  background-image: url("https://images.unsplash.com/photo-1636488363136-4dcffb388ac3?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  position: relative;
  overflow: hidden;
  border: 2px solid pink;
}

.header .headerText {
  color: whitesmoke;
  z-index: 1;
}

.header .headerText h1 {
  margin-top: 25px;
}

.header .headerText p {
  margin-top: -10px;
}

.headerBall {
  width: 500px;
  height: 500px;
  /*background-color: rgba(29, 135, 206, 0.9);*/
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
  border-radius: 50%;
  position: absolute;
  margin-left: -10rem;
}

/* ------------------------------- PRODUCTS -------------------------------*/
.product {
  padding: 20px;
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 1rem;
  transition: all 0.1s;
  width: 100%;
}
/*
.product:hover {
  border: 2px solid pink;
}*/

.products {
  width: 100%;
  display: flex;
  /*flex-flow: row wrap;*/
}

.img {
  width: 200px;
}

/* ------------------------------- Media Queries -------------------------------*/

@media all and (max-width: 800px) {
  .products {
    flex-flow: row wrap;
  }
}
